@import "tailwindcss";

@theme {
  --color-primary: #f49d25;
  --color-primary-dark: #d68310;
  --color-background-light: #f8f7f5;
  --color-background-dark: #221a10;
  --color-card-light: #ffffff;
  --color-text-main: #1c160d;
  --color-text-sub: #9c7a49;
  --color-border-color: #e8ddce;

  --font-display: "Plus Jakarta Sans", sans-serif;

  --radius-DEFAULT: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;

  --shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
}

@layer base {
  body {
    @apply font-display text-text-main bg-background-light dark:bg-background-dark;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #d4d4d4; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8; 
}

.masonry-grid {
    column-count: 2;
    column-gap: 1rem;
}
@media (min-width: 640px) {
    .masonry-grid {
        column-count: 3;
    }
}
.masonry-item {
    break-inside: avoid;
    margin-bottom: 1rem;
}
